/*For Basic Welcome*/
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title.m-b-md {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
/* close ****      For Basic Welcome       *****/

/*My CSS*/
.for_post_img img{
    width:100%;
    min-height:150px;
    max-height: 150px;
}

.outline{
    margin-bottom:25px;
    padding:15px;
    outline:2px solid #bab7b9;
    overflow:hidden;
}

.pop_up{
    position: absolute;
    margin:0;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:450px;
    height:350px;
    border:5px solid #bab7b9;
    border-radius: 5px;
    background: #fff;
    padding:20px;
    display: none;
    z-index:110;
}

.see_more{
    position:absolute;
    right:40px;
    bottom:40px;
}

.post_but{
    position: absolute !important;
    right:30px;
    top:15px;
    z-index: 2;
    height: 30px;
    width: 30px;
}

.btn-group-sm>.btn, .btn-sm {
    padding:5px;
}

.btn-warning.post_but{
    position: absolute !important;
    right:70px;
    top:15px;

}

.after_add {
    width:100px;
    height:50px;
}

.after_del {
    width:100%;
    height:100%;
}

.validation_error{
    color:#ff0000;
}

.new_com_info{
    display: none;
    position: fixed;
    right: 15px;
    top: 40%;
    padding: 10px;
    z-index: 20;
    min-width: 150px;
    overflow: hidden;
    background: #eeeeee;
    border-radius: 5px;
    border: 2px solid #2ca02c;
    color: #5e5e5e;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

.floatRight{
    float: right;
    padding-right: 15px;
}
/* close ****      My Css       *****/